		<div class="bg-image"></div>

		<footer>
			<p>Background image courtesy of <a class="bg-img-attributes" href="#"></a> | Built using <a href="http://laktek.github.com/punch">Punch</a></p>
		</footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="/js/cookies.js"></script>
		<script src="/js/site.js"></script>

	</body>
</html>
