<div class="splash">
	<h1>FavTweet</h1>
	<p>Discover favorite tweets of your friends.</p>
	<div class="form-controls">
		<input id="usernameField" size="16" type="text" placeholder="@username">
		<button class="btn btn-large btn-primary" id="fetch_tweets" type="button">Go!</button>
	</div>
</div>
